 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
 }

body{
    background-color: #1d2631;
    color: #fff;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}

.logo{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}

.logo i{
    font-size: 32px;
    margin-right: 5px;
    color:#34e7f8
}

.navegação{
    display: flex;
}

.navegação a{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 30px;
    transition: a .55 ease;
}

.navegação a:hover{
    color: #34e7f8;
}

.header-icons{
    display: flex;
    align-items: center;
}

#menu{
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    color: #fff;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: #34e7f8;
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr,1fr;
    align-items: center;
    gap: 2rem;
}

.home-text h1{
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2px;
}

.home-text h5{
    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}

.home-text h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.home-img img{
    max-width: 100%;
    width: 28rem;
    height: auto;
    margin-left: 25%;
    position: absolute;
    left: 200px;
    top: 300px;
   
 }

.btn{
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: solid 2px white;
    transition: all.55 ease;
    color:#fff
}

.btn:hover{
    background: #fff;
    border: 2px solid #fff;
    color:#000
}

footer{
    width: 100%;
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.font-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.font-list.footer-link{
    transition: all 0.4s;
    color: #ffffff99
}

.font-list .footer-link:hover{
    color: #ffffff99;
}

#imput_group{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
}

#imput_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#imput_group button{
    background-color: #34e7f8;
    border: none;
    color: #fff;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#imput_group button:hover{
    opacity: 0.8;
}

a {
    text-decoration: none;
    color:#ffffff99;
}

a:hover {
    color:#34e7f8;
}

label{
    display:flex;
    flex-direction: column;
    height: 3rem;
    width: 3rem;
}

input:hover{
    box-shadow: 2px 2px 2px #000;
    filter: opacity(80%);
}

